<!doctype html>
<html lang="en">
<%- include("blocks/head.ejs") %>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-blurple">
            <a class="navbar-brand" href="http://www.mcdiamondfire.com">
                <img class="img-thumbnail" src="public/assets/icon.png" height="40" width="40">
                mcdiamondfire.com
            </a>
            
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="http://www.mcdiamondfire.com" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.mcdiamondfire.com/forum" class="nav-link">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.mcdiamondfire.com/shop" class="nav-link">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.mcdiamondfire.com/about" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mt-3 text-center">
            <% if (data.error) { %>
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    <b>Error:</b> <%= data.error %>

                    <button type="button" class="close" data-dismiss="alert">
                        <span class="aria-hidden: true">&times;</span>
                    </button>
                </div>
            <% } else if (data.message) { %>
                <div class="alert alert-blurple alert-dismissable fade show" role="alert">
                    <%= data.message %>
                    <button type="button" class="close" data-dismiss="alert">
                        <span class="aria-hidden: true">&times;</span>
                    </button>
                </div>
            <% } %>

            <% if (!client.guild.members.has(user.id)) { %>
                You aren't on the Discord server! <a href="https://discord.gg/pDHBbBD" class="btn btn-blurple">Join</a> <a href="/" class="btn btn-blurple">Reload</a>
            <% } else if (perms.level > 1) { %>
            Your account is already verified! <%- perms.level > 2 ? `<a href="/staff" class="btn btn-blurple">Go to Staff Panel</a>` : "" %>
            <% } else { %>
            <form method="post" class="text-left">
                <div class="form-group">
                    <label>
                        <span class="fa fa-lock"></span> Secret Key
                        <button type="button" class="btn btn-blurple" data-toggle="modal" data-target="#help">?</button>
                    </label>
                    <input type="text" class="form-control" name="key" placeholder="AbCd1234">
                </div>
                
                <button type="submit" class="btn btn-blurple">
                <span class="fa fa-check"></span> Verify</button>
            </form>
            <% } %>
        </div>

        <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title">Verification Help</h5>
                    </div>
                    <div class="modal-body">
                        <h3>How do I verify myself?</h3>
                        <ol>
                            <li>Join the Minecraft server
                                <b>mcdiamondfire.com</b>.</li>
                            <li>Type
                                <b>/verify</b> in the chat.</li>
                            <li>Type the
                                <b>secret key</b> given to you into the secret key field on this website.</li>
                            <li>Click the
                                <button class="btn btn-blurple btn-sm">
                                    <span class="fa fa-check"></span> Verify</button> button.</li>
                            <li>Click on the text that the bot sent you through direct message in Discord.</li>
                        </ol>
                        <h3>What does verification do?</h3>
                        <ul>
                            <li>You can
                                <b>chat</b> with other players.</li>
                            <li>You can
                                <b>react</b> to messages.</li>
                            <li>You can
                                <b>speak</b> with other players in voice channels.</li>
                        </ul>
                        <h5>Be careful, you only have
                            <b>10 attempts</b> at verification!</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include("blocks/footer.ejs") %>

            <script type="text/javascript">
                const time = new Date();
                if (time.getMonth() === 3 && time.getDate() === 1) {
                    $(".icon").attr("src",
                        "https://cdn.discordapp.com/attachments/239551387627814922/416369599597248512/yes.gif");
                    $("body").attr("style",
                        "background-image: url(https://cdn.discordapp.com/attachments/351449501032120330/393472342489169940/unknown.png)"
                    )
                };
            </script>
    </body>

</html>